/* GiftOccasionsDropdown.module.css */
.dropdownContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .dropdownLabel {
    flex: 1;
    text-align: center;
    text-decoration: underline;
  }
  
  .horizontalRule {
    width: 100%;
    border: none;
    border-top: 1px solid #000; /* You can adjust the border properties as needed */
    margin: 10px 0;
  }
  
  
  